@font-face {
  font-family: 'iconfont';
  /* project id 682850 */
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot');
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.woff') format('woff'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484);
    src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.woff?t=1503027869484) format('woff'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}
 *{
  margin: 0;
  padding: 0;
}

.layout-blank{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

ul{
  list-style: none;
}

footer{
  text-align: center;
}

a,.afont{
  font-size: 12px;
  color: #999;
}
.active, a:hover, a:focus{
      color: #FE8C00;
}

.page-enter-active, .page-leave-active{
  transition: opacity .5s
}
.page-enter, .page-leave-active{
  opacity: 0
}

.center {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after{
  display: table;
  content: '';
}
.clearfix::after {
    clear: both;
}
/*修复 element ui*/
.el-header{
  padding: 0;
  height: 197px!important;
}